:root{
  --blue: #3367d6;
}


.titulo-azul{
  color: var(--blue);
}

li:hover{
  color: var(--blue);
 font-weight: 600;
 font-size: 1.2rem;
 transition: 0.45s;
}

.autor-curso{
  color: var(--blue);
  font-weight: 600;

}

.card{
  background-color: var(--blue);
}

.foto-perfil{

width: 15%;
height: 30% !important;
}

.foto-perfil img {
object-fit: cover;
border: 4px solid white;
border-radius: 100%;
height: 18rem;

}

.animacion-about{
display: block;
white-space: nowrap;
border-right: 4px solid;
width: 8ch;
animation: escribir 2s steps(12),
blink .5s infinite step-end alternate;
overflow: hidden;
text-align: center;
margin:0 auto;

}

@keyframes escribir {
  from { width:0 }
}

@keyframes blink {
 50%  { border-color: transparent}
}

.animacion-descripcion{
  display: block;
  white-space: nowrap;
  padding-top: 3rem;
  width: 140ch;
  animation: escribir 3s steps(140); 
  overflow: hidden;
  text-align: center;
  margin:0 auto;
  
  }

.contenedor-certificado{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  top: -400px;
  animation: drop 1s ease forwards;
  left: 0;
 z-index:999;
opacity: 1;
background-color: rgba(0,0,0,.7);

 
}

@keyframes drop{
0%{

}


100%{
  transform: translateY(400px);
}
}


.certificado{
  object-fit: cover;
  width: 40%;
  margin: 0 auto;
 
}

.cabecera-certificado{
  width: 40%;
  margin: 2rem auto;
  
  
}


@media (max-width: 620px) {
  
  #inicio{
    width: 150%;
  }
  html {
    font-size: 6px;
}
}

@media (max-width: 1024px) {
  html {
      font-size: 10px;
  }
  #inicio{
    width: 120%;
  }

}

@media (max-width: 768px) {
  html {
      font-size: 8px;
      width: 100%;
  }
  #inicio{
    width: 120%;
  }
  #habilidades{
    width: 120%;
  }
}


@media (max-width: 500px) {
  

  html {
    font-size: 4.5px;
}
}